@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  font-family: "Inter", sans-serif;
}

.openSuns {
  font-family: "Open Sans", sans-serif;
}

.requirmentjob ul {
  list-style: lower-roman;
  margin-left: 35px;
}

body::-webkit-scrollbar,
#root::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
#root::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Edge */
}

.scroll-container {
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scroll-container::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Edge */
}

/* Hide scrollbar for IE, Edge and Firefox */
body,
#root {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.animatePlay {
  animation: animatePlayan 1s linear infinite;
}


@keyframes animatePlayan {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}


@import "tailwindcss";